<nav>
    <ul style="margin:0;padding:0" id="starlist">
        <li>
            <a  href="<%= config.root %>"><%= __('Home') %></a>
        </li>
        <% if(theme.navmenu){ theme.navmenu.forEach(function(menu){ %>

            <% if( menu.title && menu.url){ %>
            <li>
                <a  href="<%= menu.url %>"><%= __(menu.title) %></a>
            </li>
            <% } %>
        <% });}%>
    </ul>
</nav>